.footer {
	display: flex;
	flex-direction: column;
	padding: 28px;
}

.footer__navigation {
	margin-bottom: 30px;
}

.footer__links-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.footer__links-list li:not(:last-of-type) {
	padding-right: 20px;
}

.footer__info {
	display: block;
}

.footer__info:not(:last-of-type) {
	margin-bottom: 8px;
}
