.nav {
	display: flex;
	justify-content: center;
}

.logo__image {
	width: 160px;
	height: auto;
	background: #FFE665;
	border-radius: 50%;
}

@media (max-width: 768px) {
	.logo__image {
		width: 100px;
	}
}

.nav .logo {
	display: inline-flex;
	border-bottom: 0;
}

.nav .logo:hover {
	background: inherit;
}

.nav .logo:hover .logo__image {
	background: #d3d3d3;
}
