---
layout: page.njk
---

<main class="container content">
	<div class="episode-information">
		<span class="episode-information__number">Выпуск {{ number }}</span>
		<span class="episode-information__date">
			<time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
		</span>
		<h1>{{ title }}</h1>
	</div>

	<div class="post">
		<audio id="player" controls preload="metadata">
			<source src="{{ audio }}" type="audio/mpeg">
			Ваш браузер не поддерживает встроенные аудио. Попробуйте <a href="{{ audio }}" download>скачать файл</a>.
		</audio>

		{{ content | safe }}
	</div>
</main>
