.content a {
    text-decoration: none;
    color: #14764B;
    border-bottom: 2px solid #14764B;
}

.content a:hover {
    background: #d3d3d3;
    color: inherit;
}

.content a:focus-visible {
    outline: 3px solid #272727;
    outline-offset: 1px;
    border-bottom: 0;
}

.logo:focus-visible {
    border-radius: 50%;
}
