.content a {
    text-decoration: none;
    color: #14764B;
    border-bottom: 2px solid #14764B;
}

.content a:hover {
    background: #14764B;
    color: #fff;
}

.content a:focus {
    outline: 3px solid #272727;
    outline-offset: 1px;
    border-bottom: 0;
}
