.content p {
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.6;
}

.content p:first-child {
    margin-top: 0;
}

.content p:last-child {
    margin-bottom: 0;
}

.content small {
    font-size: 0.8rem;
}

.content h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 2.4rem;
    line-height: 1.318;
}

.content h2 {
    margin-top: 48px;
    font-size: 2rem;
    line-height: 1.263;
}

.content h3 {
    margin-top: 32px;
    font-size: 1.6rem;
    line-height: 1.285;
}

.content h2,
.content h3 {
    margin-bottom: 16px;
}

.content code {
    font-family: "Roboto Mono", "Courier New", monospace;
}
