---
title: Все выпуски
description: Список всех выпусков подкаста «Инклюзивный ананас».
layout: page.njk
permalink: episodes/index.html
---

<div class="container">
	<div class="content">
		<main class="main">
			<h1>Все выпуски</h1>

			{% set episodeslist = collections.episode %}

			<div class="cards">
				{% include "card.njk" %}
			</div>
		</main>
	</div>
</div>
