---
title: Все выпуски
description: Список всех выпусков подкаста «Инклюзивный ананас».
layout: page.njk
permalink: episodes/index.html
---

<main class="container content">
	<h1 class="visually-hidden">{{ site.title }}</h1>
	<h2>Все выпуски</h2>

	{% set episodeslist = collections.episode %}

	<div class="cards">
		{% include "card.njk" %}
	</div>
</main>
