---
layout: page.njk
permalink: index.html
---

<div class="container">
	<div class="content">
		<main class="main">
			<h1>О подкасте</h1>

			<p>Инклюзивный ананас — это подкаст, в котором Глаша Жур и Таня Фокина обсуждают цифровую доступность.</p>

			<p>Уверены ли вы, что абсолютно все могут воспользоваться вашим сайтом? Заказать пиццу, вызвать такси, купить билет в кино?</p>

			<p>Мы расскажем вам о том, как это сделать, и поможем разработчикам, дизайнерам, тестировщикам и менеджерам найти правильные инструменты, чтобы создать интерфейсы без барьеров для пользователей.</p>

			<p>Подписывайтесь на подкаст, чтобы не пропустить новые выпуски!</p>

			<h2>О ведущих</h2>

			<p><a href="https://twitter.com/GlafiraZhur">Глаша Жур</a> — суровый accessibility-тимлид и весёлый преподаватель веб-доступности на курсе <a href="http://accessibilityunity.com">accessibilityunity.com</a>. Глаша работает на проектах с a11y уже пять лет и очень хочет поделиться с вами всем, что у неё накопилось 🙂</p>

			<p><a href="https://twitter.com/ta_fokina">Таня Фокина</a> — редактор раздела Доступности в <a href="https://doka.guide">Доке</a>, автор <a href="https://tatiana-fokina-blog.ru">блога</a> и статей на Веб-стандартах. Интересуется доступностью уже больше пяти лет и готова обсуждать её часами 🤪</p>

			<h2>Кто нам помогает</h2>

			<p>Мы очень благодарны ребятам, которые помогают нам создавать этот подкаст!</p>

			<ul>
				<li>Алёна Батицкая — главный продюсер подкаста и человек, который следил, чтобы первый выпуск появился, а мы не потерялись.</li>
				<li>Маша Жуланова — терпеливый саунд-продюсер и создатель крутого уникального джингла для Инклюзивного ананаса.</li>
				<li>Вася Дудин — помогал разобраться в суровом мире подкастов и давал полезные советы.</li>
				<li>Вадим Макеев — поддержал идею и рассказал, как сделать так, чтобы подкаст услышали на всех платформах.</li>
			</ul>

			<section aria-labelledby="heading">
				<h2 id="heading">Последние выпуски</h2>

				{% set maxEpisodes = collections.episode.length | min(5) %}
				{% set episodeslist = collections.episode | slice(-5) %}
				<div class="cards">
					{% include "card.njk" %}
				</div>

				{% if maxEpisodes === 5 %}
					<a href="{{ '/episodes' | url }}">Все выпуски</a>
				{% endif %}
			</section>

		</main>
	</div>
</div>
