---
authorOne: Глаша Жур
authorTwo: Таня Фокина
email: inclusivepineapple@gmail.com
permalink: feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:atom="http://www.w3.org/2005/Atom" xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
    <channel>
        <title>{{ site.title }}</title>
        <itunes:author>{{ authorOne }}, {{ authorTwo }}</itunes:author>
        <itunes:owner>
            <itunes:email>{{ email }}</itunes:email>
        </itunes:owner>
        <description>{{ site.description }}</description>
        <itunes:image href="{{ site.siteLink }}/assets/cover.jpg"/>
        <language>{{ site.language }}</language>
        <link>{{ site.siteLink }}</link>
        <itunes:category text="Technology"/>
        <itunes:explicit>no</itunes:explicit>

        {% set lastEpisode = collections.episode | last %}
        <lastBuildDate>{{ lastEpisode.date.toUTCString() }}</lastBuildDate>

        <atom:link href="{{ site.siteLink }}/feed.xml" rel="self" type="application/rss+xml"/>

        {%- for episode in collections.episode | reverse  %}
						{% set timecodes = episode.content | extractTimecodes %}
						{% set links = episode.content | extractLinks %}
            <item>
                <title>{{ episode.data.number }}. {{ episode.data.title }}</title>
                <description><![CDATA[<p>{{- episode.data.description -}}</p><h2>Темы</h2><ul>
									{%- for timecode in timecodes -%}
										<li>{{- timecode -}}</li>
									{%- endfor -%}
									</ul><h2>Ссылки</h2><ul>
									{%- for link in links -%}
										<li><a href="{{- link.href -}}" target="_blank">{{- link.text -}}</a></li>
									{%- endfor -%}
								</ul>]]></description>
                <itunes:episode>{{ episode.data.number }}</itunes:episode>
                <pubDate>{{ episode.date.toUTCString() }}</pubDate>
                <link>{{ site.siteLink }}{{ episode.url }}</link>
                <itunes:author>{{ authorOne }}, {{ authorTwo }}</itunes:author>
                <itunes:duration>{{ episode.data.duration }}</itunes:duration>
                <enclosure type="audio/mpeg" url="{{ site.siteLink }}{{ episode.url }}{{ episode.data.audio }}" length="{{ episode.data.audioSize }}"/>
                <guid isPermaLink="true">{{ site.siteLink }}{{ episode.url }}{{ episode.data.audio }}</guid>
            </item>
        {%- endfor %}

    </channel>
</rss>
