@charset "utf-8";

/* Регулярное начертание */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url("../fonts/roboto-v30-cyrillic_latin-regular.woff2") format("woff2"),
		url("../fonts/roboto-v30-cyrillic_latin-regular.woff") format("woff")
}

/* Жирное начертание */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('../fonts/roboto-v30-cyrillic_latin-700.woff2') format('woff2'),
		url('../fonts/roboto-v30-cyrillic_latin-700.woff') format('woff')
}

/* Моно */

@font-face {
	font-family: "Roboto Mono";
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../fonts/roboto-mono-v22-latin-regular.woff2') format('woff2'),
		url('../fonts/roboto-mono-v22-latin-regular.woff') format('woff')
}

.visually-hidden {
	position: absolute;
	left: 0;
	width: 1px;
	height: 1px;
	padding: 0;
	list-style: none;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

* {
	box-sizing: border-box;
	color: inherit;
}

.page {
	font-size: 20px;
}

@media (max-width: 768px) {
	.page {
		font-size: 16px;
	}
}

.body {
	display: flex;
	flex-direction: column;
	height: 100vh;
	margin: 0;
	font-family: "Roboto", "Arial", "Helvetica", sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	color: #272727;
	background: #eaeaea;
}

.container {
	flex: 1 0 auto;
	margin-top: 60px;
}

.content {
	width: 100%;
	max-width: 780px;
	margin: 0 auto;
	padding: 0 20px;
}

.content p {
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.6;
}

.content p:first-child {
    margin-top: 0;
}

.content p:last-child {
    margin-bottom: 0;
}

.content small {
    font-size: 0.8rem;
}

.content h1 {
    margin-top: 0;
    margin-bottom: 40px;
    font-size: 2.4rem;
    line-height: 1.318;
}

.content h2 {
    margin-top: 48px;
    font-size: 2rem;
    line-height: 1.263;
}

.content h3 {
    margin-top: 32px;
    font-size: 1.6rem;
    line-height: 1.285;
}

.content h2,
.content h3 {
    margin-bottom: 16px;
}

.content a {
    text-decoration: none;
    color: #14764B;
    border-bottom: 2px solid #14764B;
}

.content a:hover {
    background: #14764B;
    color: #fff;
}

.content a:focus {
    outline: 3px solid #272727;
    outline-offset: 1px;
    border-bottom: 0;
}

@media (forced-colors) {
	.card {
		border: 2px solid transparent;
	}

	.card:focus-within {
		outline: 3px solid transparent;
	}
}

.episode-information {
	margin-bottom: 52px;
}

.episode-information__number,
.episode-information__date {
	font-size: 0.8rem;
}

.episode-information__number:after {
	content: "";
	display: inline-block;
	margin-left: 6px;
	width: 4px;
	height: 4px;
	border-radius: 100px;
    background: #272727;
}

.content audio {
	width: 100%;
}

.header {
	width: 100%;
}

.content__header {
	display: flex;
	align-items: center;
	padding: 20px 0;
}

.nav {
	display: flex;
	justify-content: center;
	width: 100%;
}

.logo-link__image {
	width: 160px;
	height: auto;
	background: #FFE665;
	border-radius: 50%;
}

@media (max-width: 768px) {
	.logo-link__image {
		width: 100px;
	}
}

.nav .logo-link {
	display: inline-flex;
	border-bottom: 0;
}

.nav .logo-link:hover {
	background: inherit;
}

.nav .logo-link:hover .logo-link__image {
	background: #14764B;
}

.footer {
	width: 100%;
	margin-top: 80px;
}

.content__footer {
	display: flex;
	flex-direction: column;
	padding: 28px;
}

.footer__links {
	display: flex;
}

.footer__links-list {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
}

.footer__links-list li:not(:last-of-type) {
	padding-right: 20px;
}

.footer__copyright {
	margin-top: 30px;
	font-size: 1rem;
}

.footer__info {
	display: block;
}

.footer__info:not(:last-of-type) {
	margin-bottom: 8px;
}

.cards {
	margin-top: 32px;
}

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 20px;
	border: 2px solid #272727;
	border-radius: 4px;
}

@media (max-width: 768px) {
	.card {
		padding: 10px;
	}
}

.card {
	margin-bottom: 20px;
}

.card:before {
	content: "";
	position: absolute;
}

.card:hover {
	background: #14764B;
    color: #fff;
}

.card:focus-within {
	outline: 3px solid #272727;
}

.card a:focus {
    outline: 0;
}

.card .card__title {
	margin: 10px 0 8px 0;
}

.card .card__title-link {
	font-weight: bold;
	color: inherit;
	border-bottom: 0;
	transition: none;
}

.card .card__title-link:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.card .card__title-link:hover {
	color: inherit;
	background: inherit;
	border-bottom: 0;
}

.card__post-date {
	font-size: 0.8rem;
}
