<link rel="icon" sizes="32x32" href="/assets/favicons/favicon.ico" type="image/png" >
<link rel="icon" href="/assets/favicons/icon.svg" type="image/svg+xml">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="manifest" href="/manifest.json">
