<footer class="page__footer footer container" id="us">
	<small class="footer__info">Инклюзивный ананас, {{ site.currentYear }} 🍍</small>
	<small class="footer__info">
		Сайт работает на <a href="{{ links.copyright.eleventy }}">11ty</a>, исходный код в <a href="{{ links.copyright.github }}">репозитории на GitHub</a>.
	</small>
</footer>
