<footer class="page__footer footer content" id="us">
	<nav class="footer__navigation" aria-label="Соцсети и платформы">
		<ul class="footer__links-list">
			<li><a href="{{ links.social.twitter }}">Твиттер</a></li>
			<li><a href="{{ links.social.telegram }}">Телеграм</a></li>
			<li><a href="{{ links.social.facebook }}">Фейсбук</a></li>
			<li><a href="{{ links.platforms.youtube }}">Ютуб</a></li>
			<li><a href="{{ links.platforms.spotify }}">Спотифай</a></li>
			<li><a href="{{ links.platforms.apple }}">Эппл Подкасты</a></li>
			<li><a href="{{ links.platforms.yandex }}">Яндекс Музыка</a></li>
			<li lang="en"><a href="{{ links.platforms.rss }}">RSS</a></li>
		</ul>
	</nav>
	<small class="footer__info">Инклюзивный ананас, {{ site.currentYear }} 🍍</small>
	<small class="footer__info">
		Сайт работает на <a href="{{ links.copyright.eleventy }}">11ty</a>, исходный код в <a href="{{ links.copyright.github }}">репозитории на GitHub</a>.
	</small>
</footer>
